// scss 전역변수 설정 가능, 다른곳에서도 사용 가능
/* 예시용
$white-color: #ffffff;
$black-color: #000000;
*/

@mixin minimize() {
  @media (max-width: 1200px) {
    @content;
  }
}

/* global.scss (혹은 다른 전역 스타일 파일) */
:root {
  /* 기본 (light) 테마 색상 */
  --color-background: #ffffff;
  --color-text: #1a1a1a;
  --color-header: #f0f0f0;
}

.theme-dark {
  /* theme-dark 클래스가 적용될 때 변수 재정의 */
  --color-background: #1a1a1a;
  --color-text: #ffffff;
  --color-header: #2c2c2c;
}

/* 실제 적용 */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 0.3s ease; /* 전환 효과 */
}
