// scss 전역변수 설정 가능, 다른곳에서도 사용 가능
/* 예시용
$white-color: #ffffff;
$black-color: #000000;
*/

@mixin minimize() {
  @media (max-width: 1200px) {
    @content;
  }
}

// 초기 기본 색
:root {
  --color-background: #f6fdff;
  --color-text: #000000;
  --color-header: #c2d2da;
  --color-border: #575252;
  --color-toggle-bg: #dddddd;
  --locate-toggle: -80%;
}

.theme-dark {
  --color-background: #2e3031;
  --color-text: #ffffff;
  --color-header: #4f4f4f;
  --color-border: #ffffff;
  --color-toggle-bg: #888888;
  --locate-toggle: 80%;
}
